<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.modelmybatis.mapper.EmployeeMapper">
    <select id="getAll" resultType="com.example.modelmybatis.pojo.Employee">
        select * from employees
    </select>

    <select id="getEmployeeById" parameterType="int" resultType="employee">
        select * from employees where id = #{id}
    </select>

    <select id="getEmployee" parameterType="map" resultType="employee">
        select * from employees
        <where>
            <if test="salary != null">
                salary > #{salary}
            </if>
            <if test="employee_id != null">
                and employee_id > #{employee_id}
            </if>
        </where>

<!--        <trim prefix="where" prefixOverrides="and | or">-->
<!--            <if test="salary != null">-->
<!--                salary > #{salary}-->
<!--            </if>-->
<!--            <if test="employee_id != null">-->
<!--                and employee_id > #{employee_id}-->
<!--            </if>-->
<!--        </trim>-->
    </select>

    <update id="update" parameterType="employee">
        update employees
        <set>
            <if test="first_name != null">
                first_name = #{first_name} ,
            </if>
            <if test="last_name != null">
                last_name = #{last_name}
            </if>
        </set>
        where employee_id = #{employee_id}
    </update>
</mapper>